.nav-list {
  background-color: bisque;
  list-style: none;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  background-color: rgb(20, 203, 127);
  margin: 5px;
  padding: 20px;
}
