@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60vh;
  padding-bottom: 5%;
  margin-left: 50%;
}

.browse {
  width: 150px;
  height: 50px;
  background-color: #f4780b;
  color: white;
  font-family: "Pacifico", serif;
  font-size: large;
  border: none;
  border-radius: 20px;
}

.browse:hover {
  background-color: white;
  color: #f4780b;
}

.top-three {
  background-color: red;
  height: 40vh;
}
