.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: rgba(255, 247, 230, 0.9);
  box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.1);
  height: 200px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  color: #555;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #d48426;
}
