#register-form {
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 1rem;
}

input {
  margin-left: 5px;
}

#register-btn {
  padding: 20px;
  width: 200px;
  font-size: large;
  border-radius: 5px;
  border-style: none;
}
