.product-details-container {
  position: relative;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  margin-bottom: 35vh;
}

.back-menu {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  color: #d48426;
  font-weight: bold;
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s ease;
}

.back-menu:hover {
  background-color: #d48426;
  color: white;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.product-description {
  font-size: 32px;
  color: #d48426;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}
