@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffdcb8;
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(255, 181, 77, 0.9);
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#heading {
  font-family: "Pacifico", serif;
}

.home {
  text-decoration: none;
  color: #8c5c4f;
}

.home:hover {
  color: #f4780b;
}
