.contact {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20vh;
}

.contact h1 {
  margin-bottom: 20px;
  color: #333;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}

.contact input,
.contact textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact textarea {
  resize: vertical;
  min-height: 100px;
}

.contact button {
  margin-top: 20px;
  padding: 10px;
  background-color: #d48426;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: white;
  color: #d48426;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}
