.not-found {
  text-align: center;
  padding: 50px 20px;
  background: rgba(255, 255, 255, 0.9);
  margin: 50px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.not-found h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #d48426;
}

.not-found p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333;
}

.not-found a {
  text-decoration: none;
  color: #fff;
  background-color: #d48426;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.not-found a:hover {
  background-color: #083bb1;
}
