* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-family: "Georgia", serif;
  background-color: #f7f4ed;
  color: #3b2f2f;
}
